<link rel="stylesheet" type="text/css" href="./public/css/mystyle.css">

<header>
    <h1>{{pageTitle}}</h1>
        <ul>
            <li><p><a href="/">Home</a></p></li>
            <li><p><a href="/about">About</a></p></li>
            <li><p><a href="/projects">Projects</a></p></li>
        </ul>            
</header>